$nav-bar-side-paddings-xs: 16px;
$nav-bar-side-paddings-sm: 68px;
$nav-bar-side-paddings-lg: 74px;
$nav-bar-side-paddings-xl: 80px;
.nav-bar {
  font-size: 16px;
  font-weight: 400;

  position: static;
  z-index: 1;

  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  width: 100%;
  padding-top: 1.5rem;
  padding-top: 0;
  padding-right: $nav-bar-side-paddings-xs;
  padding-left: $nav-bar-side-paddings-xs;

  color: rgb(87, 88, 88);
}
.nav-bar-option {
  padding-top: 0.8rem;
  & > span {
    font-size: 40px;

    display: flex;
    align-items: flex-start;
    flex: 1;
    justify-content: center;

    width: 100%;

    color: rgba(0, 0, 0, 0.78);
  }
  & > .description {
    font-size: 8px;
    font-weight: 400;

    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
}

.mobile-menus {
  position: fixed;
  z-index: 3;
  bottom: -101%;
  left: 0;

  width: 100%;
  height: 100%;
}

.mobile-menus-active {
  bottom: 0;
}

.mobile-menu {
  position: absolute;
  bottom: -101%;

  display: flex;
  flex: 1;
  justify-content: space-between;

  width: 100%;

  transition: all 0.3s ease-in-out;

  opacity: 1;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: white;
  -webkit-box-shadow: -1px 4px 26px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 4px 26px -4px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 4px 26px -4px rgba(0, 0, 0, 0.35);
}
.mobile-menu-open {
  bottom: 0;

  overflow: auto;
}

a.no-link:hover {
  cursor: initial;

  background-color: transparent;
}
a.disabled {
  color: #777;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    font-size: 24px;
    font-weight: 400;

    padding-top: 1.7rem;
    padding-right: $nav-bar-side-paddings-sm;
    padding-bottom: 2rem;
    padding-left: $nav-bar-side-paddings-sm;
  }
  .nav-bar-option {
    & > span {
      font-size: 68px;
    }
    & > .description {
      font-size: 13px;
      font-weight: 500;
    }
  }
}
@media screen and (min-width: 1024px) {
  .nav-bar {
    font-size: 26px;
    font-weight: 400;

    padding-top: 2.4rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
  }
  .nav-bar-option {
    & > span {
      font-size: 74px;
    }
    & > .description {
      font-size: 16.5px;
      font-weight: 400;
    }
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    padding-top: 1rem;
    padding-right: $nav-bar-side-paddings-xl;
    padding-left: $nav-bar-side-paddings-xl;
  }
  .nav-bar-option {
    & > span {
      font-size: 74px;
    }
    & > .description {
      font-size: 16.5px;
      font-weight: 400;
    }
  }
}
@media screen and (min-width: 1536) {
}
