#stream-canvas {
    width: 100%;
}

.remove-stream {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
    background-color: aliceblue;
    border-radius: 4px;
}